
@model Product

<!-- Product-Insertion Alert -->
@if (ViewBag.ProductAdded == 1)
{
    <div id="product-insertion-alert" class="alert alert-dismissible fixed-bottom bg-primary" style="margin-left: 10px; max-width: 300px; z-index: 100;">
        <button type="button" class="btn-close" onclick="closeProductInsertionAlert()"></button>
        <span style="color: white; text-align: justify;">Product added successfully!</span>
    </div>
}
else if (ViewBag.ProductAdded == 0)
{
    <div id="product-insertion-alert" class="alert alert-dismissible fixed-bottom bg-secondary" style="margin-left: 10px; max-width: 300px; z-index: 100;">
        <button type="button" class="btn-close" onclick="closeProductInsertionAlert()"></button>
        <span style="color: white; text-align: justify;">Error occurred! Product name might be duplicated!</span>
    </div>
}
<!-- Product-Insertion Alert -->

<!-- Product-Update Alert -->
@if (ViewBag.ProductUpdated == 0)
{
    <div id="product-update-alert" class="alert alert-dismissible fixed-bottom bg-secondary" style="margin-left: 10px; max-width: 300px; z-index: 100;">
        <button type="button" class="btn-close" onclick="closeProductUpdateAlert()"></button>
        <span style="color: white; text-align: justify;">Error occurred! Product name might be duplicated!</span>
    </div>
}
<!-- Product-Update Alert -->

<!-- Page Header Start -->
<div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
    <div class="container d-none d-md-block">
        <h1 class="display-3 mb-3 animated slideInDown">Product Configuration</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-body" asp-controller="Home" asp-action="GetView">Home</a></li>
                <li class="breadcrumb-item text-dark active" aria-current="page">@ViewBag.ConfigurationStatus Product</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Product Upload Start -->
<div class="container-fluid bg-light bg-icon py-6">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 1000px;">
            <div>
                <h1 class="display-5">@ViewBag.ConfigurationStatus Product</h1>
            </div>
            <br />
            <div class="text-start row">
                <form method="post" enctype="multipart/form-data" id="product-form">
                    <div class="mx-auto mb-4">
                        <!-- Uploaded image area-->
                        <div class="text-start">
                            <p class="fst-italic text-black-50" style="text-align:justify;">The image uploaded will be rendered inside the box below.</p>
                            @{
                                string status = ViewBag.ConfigurationStatus;
                                <div class="image-area mt-4 mb-3 text-start"><img id="imageResult" src="@(status == "Add" ? "#" : Model.ImageUri)" alt="" class="img-fluid"></div>
                                <input type="text" asp-for=ImageUri hidden/>
                            }
                        </div>
                        
                        <!-- Image input-->
                        <div class="input-group px-2 py-2 bg-white border border-black">
                            <input asp-for=ImageFile accept="image/*" onchange="readURL(this);" class="form-control">
                            <label id="upload-label" asp-for=ImageFile>Click To Upload Image</label>
                            <div id="upload-button" class="input-group-append">
                                <label asp-for=ImageFile class="btn btn-outline-info m-0 rounded-pill px-4"> <i class="fa fa-upload me-2 text-muted"></i><small class="text-uppercase fw-bold text-muted">Upload Image</small></label>
                            </div>
                        </div>
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-4">
                        <input asp-for=Name class="form-control" placeholder="">
                        <label asp-for=Name>Name</label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-4">
                        <input asp-for=Price class="form-control" placeholder="">
                        <label asp-for=Price>Price</label>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="mb-4">
                        <select asp-for=Category class="form-select py-3" aria-label="Select product category">
                            <option value="ChooseCategory" selected>Choose Category...</option>
                            <option value="Vegetables">Vegetables</option>
                            <option value="Fruits">Fruits</option>
                            <option value="Fresh">Fresh</option>
                        </select>
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                    <div class="form-check form-switch text-start mb-4">
                        <input asp-for=IsDisplayed class="form-check-input" role="checkbox">
                        <label asp-for=IsDisplayed class="form-check-label">Users See This (Initially)</label>
                    </div>
                    <div class="d-flex justify-content-around">
                        <button type="submit" class="btn btn-primary">@ViewBag.ConfigurationStatus</button>
                        <button type="reset" class="btn btn-danger">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Product Upload End -->

@section Scripts {
    <script>
        $(document).ready(function () {
            let productInsertionAlert = document.getElementById("product-insertion-alert");

            if (productInsertionAlert !== null) {
                if (productInsertionAlert.classList.contains("bg-primary") && !productInsertionAlert.classList.contains("d-none")) {
                    document.getElementById("Name").value = "";
                    document.getElementById("Price").value = "";

                    let categorySelectionElementChilds = document.getElementById("Category").children;
                    Array.from(categorySelectionElementChilds).forEach((element, index) => {
                        if (index != 0)
                            element.removeAttribute("selected")
                    });

                    document.getElementById("IsDisplayed").removeAttribute("checked");
                }
            }
        });

        function closeProductInsertionAlert() {
            let alertDiv = document.getElementById("product-insertion-alert");
            alertDiv.classList.add(["d-none"]);
        }

        function closeProductUpdateAlert() {
            let alertDiv = document.getElementById("product-update-alert");
            alertDiv.classList.add(["d-none"]);
        }
    </script>
}